html {
  height: 100vh;
}
body {
  height: 100vh;
}
.swiper {
  // width: 600px;
  height: 500px;
}
.swiper-slide {
  // height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  background-color: #ccc;
}
// .swiper-wrapper{
//   height: 400px;
//   padding: 1px;
// }